@model List<Consultora.Entidad.ActividadEntidad>
    @{
        ViewBag.Title = "_ResultadoActividades";
    }

    @if (Model != null && Model.Count > 0)
{
    <table id="TablaResultadosActividades">
        <thead>
            <tr>
                <th></th>
                <th>Actividad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entidad in Model)
            {
                <tr>
                    <td class="text-center">
                        <input type="radio" name="actividad" data-id="@entidad.Cod_Actividad" class="ckbact" />
                    </td>
                    <td>
                        @entidad.Nom_Actividad
                    </td>
                </tr>
            }

        </tbody>
    </table>
}



