@model Consultora.Entidad.IniciativaEntidad
@{
    ViewBag.Title = "_ViewCostoTotalEquipo";
}

<label>Calculando costo de equipo de consultores</label><input type="text" id="IdCostoEquipo" name="IdCostoEquipo" value="@Model.CostoTotalEquipo.ToString("#0.#0")" disabled>